/* Resets the margin/padding while adding border-box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles the body and children within */
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    display: flex;
    width: 360px;
    height: 360px;
    flex-wrap: wrap;
}
.cell{
    display: flex;
    flex-basis: 120px;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

/* Adjusting borders */
.cell:nth-child(3n+2){
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}